@media (min-width: 0px) and (max-width: 543px) {
.header-number, .header-adress {
	margin-top: 20px;
}

.logo  {
	text-align: center;
}

.header-adress p {
	padding: 0;
	text-align: center;
}

.header-adress img {
	left: 50%;
	margin-left: -100px;
}

.wrap1 {
	display: none;
}

.test h1, .about-wraper h2, .news h2, .news-archive a, .bron h2, .contacts h2, .howride h2 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.item {
	margin-bottom: 40px;
}

.item > img {
	margin-top: -211px;
	margin-left: 0;
}

.item p {
	text-align: center;
	margin-top: 10px;
}

.test-button button {
	width: 90%;
	padding: 0;
}

.test-button {
	margin-top: 0;
	margin-bottom: 40px;
}

.about-header-back img {
	width: auto;
	height: 100%;
	filter: blur(50%);
}

.line9, .line10, .line11, .line12 {
	display: none;
}

.about-wraper h2 {
	text-align: center;
}

.about-header-p {
	margin-top: 60px;
	margin-bottom: 60px;
}

.about-wraper p {
	text-align: center;
	margin-top: -10px;
}

.gde-chto > img {
	width: auto;
	height: 100%;
	filter: blur(50%);
}

.gde-chto > .container > div {
	margin-bottom: 40px;
}

.where-item {
	margin-top: 100px;
}

.where-item p {
	padding-left: 5px;
	padding-right: 5px;
}

.news-item {
	margin-bottom: 40px;
}

.news-archive {
	margin-top: 0px;
	margin-bottom: 40px;
	filter: blur(50%);
}

.bron-back img {
	height: 100%;
	width: auto;
}

.bron h2 {
	font-size: 50px;
}

.bron h3 {
	padding: 0;
	margin-top: 0;
	margin-bottom: 40px;
}

.bron input {
	width: 90%;
}

.bron button {
	width: 90%;
	padding: 0;
	margin-bottom: 40px;
}

.adress {
	margin-top: 0;
}

.contacts h2, .howride h2 {
	text-align: center;
}

.contacts p {
	text-align: center;
}

.number-footer, .button-footer, .social-footer, .rules-footer p, .it-footer, .search-footer {
	text-align: center;
}

.soc {
	float: none;
}

.span-bord {
	margin: auto;
}

.search-footer input {
	position: relative;
	left: auto;
	top: auto;
	margin: 20px 0 0 0;
}

.burger {
	height: 5px;
	width: 60px;
	background-color: #ffffff;
	position: relative;
	border-radius: 8px;
	margin-top: 5px;
}

.burger:before {
	content: '';
	display: block;
	position: absolute;
	height: 5px;
	width: 60px;
	background-color: #ffffff;
	left: 0;
	top: 13px;
	border-radius: 8px;
}

.burger:after {
	content: '';
	display: block;
	position: absolute;
	height: 5px;
	width: 60px;
	background-color: #ffffff;
	left: 0;
	top: 26px;
	border-radius: 8px;
}

.burtri {
	position: absolute;
	width: 60px;
	height: 41px;
	top: 0;
}

.ul-nav {
	display: none;
}

.header-nav {
	min-height: 41px!important;
}

.ul-nav li {
	width: 100%;
	text-align: center;
}

.dropdown {
	display: none;
}

.ul-nav {
	margin-top: 40px;
}



}

@media (width: 320px) {
	.where-item button {
		width: 95%;
	}
}

@media (min-width: 544px) and (max-width: 767px) {
	
.header-number, .header-adress {
	margin-top: 20px;
}

.logo  {
	text-align: center;
}

.header-adress p {
	padding: 0;
	text-align: center;
}

.header-adress img {
	left: 50%;
	margin-left: -100px;
}

.wrap1 {
	display: none;
}

.test h1, .about-wraper h2, .news h2, .news-archive a, .bron h2, .contacts h2, .howride h2 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.item {
	margin-bottom: 40px;
}

.item > img {
	margin-top: -211px;
	margin-left: 0;
}



.item p {
	text-align: center;
	margin-top: 10px;
}

.test-button button {
	width: 90%;
	padding: 0;
}

.test-button {
	margin-top: 0;
	margin-bottom: 40px;
}

.about-header-back img {
	width: auto;
	height: 100%;
	filter: blur(50%);
}

.line9, .line10, .line11, .line12 {
	display: none;
}

.about-wraper h2 {
	text-align: center;
}

.about-header-p {
	margin-top: 60px;
	margin-bottom: 60px;
}

.about-wraper p {
	text-align: center;
	margin-top: -10px;
}

.gde-chto > img {
	width: auto;
	height: 100%;
	filter: blur(50%);
}

.gde-chto > .container > div {
	margin-bottom: 40px;
}

.where-item {
	margin-top: 100px;
}

.where-item p {
	padding-left: 5px;
	padding-right: 5px;
}

.news-item {
	margin-bottom: 40px;
}

.news-archive {
	margin-top: 0px;
	margin-bottom: 40px;
	filter: blur(50%);
}

.bron-back img {
	height: 100%;
	width: auto;
}

.bron h2 {
	font-size: 50px;
}

.bron h3 {
	padding: 0;
	margin-top: 0;
	margin-bottom: 40px;
}

.bron input {
	width: 90%;
}

.bron button {
	width: 90%;
	padding: 0;
	margin-bottom: 40px;
}

.adress {
	margin-top: 0;
}

.contacts h2, .howride h2 {
	text-align: center;
}

.contacts p {
	text-align: center;
}

.number-footer, .button-footer, .social-footer, .rules-footer p, .it-footer, .search-footer {
	text-align: center;
}

.soc {
	float: none;
}

.span-bord {
	margin: auto;
}

.search-footer input {
	position: relative;
	left: auto;
	top: auto;
	margin: 20px 0 0 0;
}

.burger {
	height: 5px;
	width: 60px;
	background-color: #ffffff;
	position: relative;
	border-radius: 8px;
	margin-top: 5px;
}

.burger:before {
	content: '';
	display: block;
	position: absolute;
	height: 5px;
	width: 60px;
	background-color: #ffffff;
	left: 0;
	top: 13px;
	border-radius: 8px;
}

.burger:after {
	content: '';
	display: block;
	position: absolute;
	height: 5px;
	width: 60px;
	background-color: #ffffff;
	left: 0;
	top: 26px;
	border-radius: 8px;
}

.burtri {
	position: absolute;
	width: 60px;
	height: 41px;
	top: 0;
}

.ul-nav {
	display: none;
}

.header-nav {
	min-height: 41px!important;
}

.ul-nav li {
	width: 100%;
	text-align: center;
}

.dropdown {
	display: none;
}

.ul-nav {
	margin-top: 40px;
}

}

@media (min-width: 768px) and (max-width: 991px) {

.test h1, .about-wraper h2, .news h2, .news-archive a, .bron h2, .contacts h2, .howride h2 {
	margin-top: 40px;
	margin-bottom: 40px;
}

	.ul-nav li {
		margin: 0 2px;
		font-size: 10px;
	}

	.wrap1 {
		display: none;
	}

	.item > img {
		margin-top: -210px;
	}

	.item {
		margin-bottom: 20px;
	}

	.test-button {
		margin-top: 20;
		margin-bottom: 40px;
	}

	.about-header-back img {
		width: auto;
		height: 100%;
	}

	.gde-chto > img {
		height: 100%;
		width: auto;
	}

	.news-item {
		margin-bottom: 40px;
	}

	.news-archive {
		margin-top: 0;
		margin-bottom: 40px;
	}

	.bron-back img {
		width: auto;
		height: 100%;
	}

	.contacts, .howride, .contacts h2, .howride h2 {
		text-align: center;
	}

	.button-footer {
		clear: both;
	}

	.button-footer {
		margin-bottom: 40px;
	}

	.footer-back > .container > div {
		text-align: center;
	}

	.soc {
		float: none;
	}

}

@media (min-width: 992px) and (max-width: 1199px) {
	.logo img {
		width: 100%;
		height: auto;
		margin-top: 20px;
	}

	.header-number {
		font-size: 20px;
		line-height: 100px;
	}

	.header-adress p {
		padding-left: 0;
		text-align: right;
	}

	.header-adress img {
		left: 50%;
		margin-left: -70px;
		margin-top: -7.5px;
	}

	.header-button button {
		font-size: 13px;
	}

	.ul-nav li {
		font-size: 12px;
	}

	.wrap1 {
		display: none;
	}

	.test h1, .about-wraper h2, .news h2, .news-archive a, .bron h2, .contacts h2, .howride h2 {
	margin-top: 40px;
	margin-bottom: 40px;
	}

	.test-button {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.about-header-back img {
		height: 100%;
		width: auto;
	}

	.gde-chto > img {
		height: 100%;
		width: auto;
	}

	.where-item {
		min-height: 385px;
	}

	.bron-back img {
		width: auto;
		height: 100%;
	}

	.bron button {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.number-footer a {
		line-height: 50px;
	}

	.footer-back > .container > div {
		margin-bottom: 40px;
	}

	.soc {
		margin-top: 10px;
	}
}

@media (max-width: 2000px) {
	.wrap1 img, .about-header-back img, .gde-chto > img, .bron-back img {
		width: auto;
		height: 100%;
	}
}

@media (max-width: 1300px) {
	.the-game, .wrap1 button {
		display: none;
	}
}