body a {
	color: black;
	text-decoration: none;
}

body a:hover {
	color: #F3521B;
	text-decoration: none;
}

.header-margin {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.logo {
	text-align: left;
}

.logo img {
	height: 80px;
	margin-top: 15px;
}

.header-number {
	font-size: 25px;
	font-weight: 700;
	line-height: 110px;
	font-family: open-sans;
}

.header-button button{
	border:2px solid #FE855B;
	background-color: white;
	font-size: 17px;
	border-radius: 5px;
	padding: 15px;
	font-weight: 700;
	margin-top: 25px;
	font-family: open-sans;
}

.header-button button:hover{
	background-color: #FE855B;
}

.header-adress {
	text-align: left;
	position: relative;
}

.header-adress img {
	position: absolute;
	width: 25px;
	top: 50%;
	margin-top: -12.5px;
	left: 80px;
}

.header-adress p {
	padding-left: 100px; 
	font-weight: 700;
	margin-top: 25px;
	font-family: open-sans;
}

.header-nav-back {
	background-color: #460000;
}

.ul-nav {
	padding: 0;
	margin: 0;
}

.dropdown-menu {
	padding: 0;
	margin: 0;
}

.ul-nav li {
	display: inline-block;
	text-decoration: none;
	margin: 0 10px;
	padding: 15px 15px 10px 15px;
	border-bottom: 5px solid #460000;
	font-size: 16px;
	font-family: open-sans;
}

.ul-nav li:hover {
	border-bottom: 5px solid #F3521B;
	transition: 0.3s;
}

.ul-nav li a:focus {
	text-decoration: none;
}

.dropdown-menu {
	padding: 0;
	margin: 0;
	background-color: rgba(0,0,0,0.7)!important;
	color: white!important;
	top: 105%!important;
}

.dropdown-menu li{
	display: inline-block;
	text-decoration: none;
	margin: 0;
	padding:5px;
	font-size: 15px;
	font-family: open-sans;
	border-bottom: none;
}

.dropdown-menu li:hover{
	border-bottom: none;
	transition: 0.3s;
	background-color: transparent!important;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	text-decoration: none!important;
	background-color: transparent!important;
	color: #F3521B;
	background-image: none!important;
}

.ul-nav li a {
	color: white;
}

.dropdown-menu > li > a  {
	color: white!important;
}

.dropdown-menu > li > a:hover {
	color: #F3521B!important;
	transition: 0.3s;
}

.wrap1 {
	position: relative;
	overflow: hidden;
	height: 510px;
}

.wrap1 img {
	position: absolute;
	width: 100%;
}

.wrap1 > button {
	border-radius: 5px;
	background-color:  #450000;
	width: 280px;
	height: 72px;
	position: absolute;
	z-index: 20;
	border: none;
	left: 0;
	right: 0;
	margin-left: 55%;
	bottom: 40px;
	font-family: open-sans;
	color:  rgba(255, 255, 255, 0.9);
	font-size: 24px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	text-align: center;
	letter-spacing: 4px;
}

.the-game {
	height: 510px;
	padding: 0!important;
	width: 1300px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	overflow: hidden;
	background-color: black;
	display: none;
	cursor: url('/img/crosshairsg.cur') 24.5 24.5,  default;
}

.item {
	position: relative;
}

.triangle h2 {
	position: absolute;
	z-index: 20;
	font-family: bebas-bold;
	top: 50%;
	margin-top: -15px;
	left: 15px;
}

.triangle h3 {
	position: absolute;
	z-index: 20;
	font-family: bebas-bold;
	top: 75%;
	font-size: 72px;
	margin-top: -41px;
	left: 15px;
}


.test h1 {
	text-align: center;
	font-size: 75px;
	font-weight: 700;
	margin-top: 74px;
	margin-bottom: 54px;
	text-transform: uppercase;
	font-family: bebas-bold;
}

.triangle {
	position: relative;
	z-index: 10;
	height: 212px;
}

.triangle-white {
	position: absolute;
	width: 165px;
}

.triangle-clock {
	width: 38px;
	z-index: 10;
	top: 41px;
	left: 17px;
	position: absolute;
}

.triangle-bullets {
	width: 50px;
	z-index: 10;
	top: 41px;
	left: 17px;
	position: absolute;
}

.triangle-hz {
	width: 50px;
	z-index: 10;
	top: 41px;
	left: 17px;
	position: absolute;
}

.triangle-gun  {
	width: 50px;
	z-index: 10;
	top: 41px;
	left: 17px;
	position: absolute;
}

.item > img {
	width: 100%;
	margin-top: -105px;
	z-index: 1;
	margin-left: 5px;
}

.item p {
	text-align: left;
	margin-top: 24px;
	font-size: 15px;
	font-family: open-sans;
}

.test-button {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 90px;
}

.test-button button{
	height: 72px;
	padding: 0 100px;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	font-family: open-sans;
	background-color: #FC5312;
	color:  rgba(255, 255, 255, 0.7);
	font-weight: 700;
}

.test-button button:hover {
	filter: grayscale(50%);
}

.about-header-back {
	position: relative;
	overflow: hidden;
}

.about-header-back img{
	position: absolute;
	width: 100%;
}

.layer {
	opacity: 0.75;
}

.about-header {
	text-align: center;
	font-family: bebas-reg;
	font-size: 34px;
	color:  rgba(255, 255, 255, 0.7);
}

.about-header-p {
	margin-top: 75px;
	margin-bottom: 40px;
	position: relative;
	padding: 0!important;
}

.line1 {
	position: absolute;
	background-color:  rgba(255, 255, 255, 0.66);
	width: 3px;
	height: 31px;
	top: -44px;
	left: -10px;
}

.line2 {
	position: absolute;
	background-color:  rgba(255, 255, 255, 0.66);
	width: 31px;
	height: 3px;
	top: -44px;
	left: -7px;
}

.line3 {
	position: absolute;
	background-color:  rgba(255, 255, 255, 0.66);
	width: 3px;
	height: 31px;
	bottom: -17px;
	left: -10px;
}

.line4 {
	position: absolute;
	background-color:  rgba(255, 255, 255, 0.66);
	width: 31px;
	height: 3px;
	bottom: -17px;
	left: -7px;
}

.line5 {
	position: absolute;
	background-color:  rgba(255, 255, 255, 0.66);
	width: 31px;
	height: 3px;
	top: -44px;
	right: -13px;
}

.line6 {
	position: absolute;
	background-color:  rgba(255, 255, 255, 0.66);
	width: 3px;
	height: 31px;
	top: -44px;
	right: -16px;
}

.line7 {
	position: absolute;
	background-color:  rgba(255, 255, 255, 0.66);
	width: 3px;
	height: 31px;
	bottom: -16px;
	right: -16px;

}

.line8 {
	position: absolute;
	background-color:  rgba(255, 255, 255, 0.66);
	width: 31px;
	height: 3px;
	bottom: -19px;
	right: -16px;
}

.line9 {
	position: absolute;
	background-color:  rgba(255, 255, 255, 0.66);
	width: 61px;
	height: 3px;
	top: 50%;
	margin-top: -22.5px;
	left: -86px;
}

.line10 {
	position: absolute;
	background-color:  rgba(255, 255, 255, 0.66);
	width: 3px;
	height: 41px;
	top: -74px;
	left: 50%;
	margin-left: -0.5px;
}

.line11 {
	position: absolute;
	background-color:  rgba(255, 255, 255, 0.66);
	width: 61px;
	height: 3px;
	top: 50%;
	margin-top: -22.5px;
	right: -92px;
}

.line12 {
	position: absolute;
	background-color:  rgba(255, 255, 255, 0.66);
	width: 3px;
	height: 41px;
	bottom: -38px;
	left: 50%;
	margin-left: -0.5px;
}

.about-wraper {
	margin-bottom: 55px;
}

.about-wraper h2 {
	text-align: left;
	font-family: bebas-bold;
	text-transform: uppercase;
	font-size: 70px;
	margin-top: 51px;
}

.about-wraper p {
	text-align: left;
	font-family: open-sans;
	font-size: 17px;
	margin-top: 17px;
}

.gde-chto {
	position: relative;
	overflow: hidden;
}

.gde-chto > .container > div {
	margin-bottom: 90px;
}

.gde-chto > img {
	position: absolute;
	width: 100%;
}

.where-item {
	text-align: center;
	margin-top: 122px;
	background-color: white;
	position: relative;
	padding-top: 65px;
}

.krug {
	position: absolute;
	width: 115px;
	height: 115px;
	border-radius: 50%;
	border: 3px solid #8a5f57;
	background-color:  #ffffff;
	left: 50%;
	margin-left: -57.5px;
	top: -60px;
}

.krug img {
	width: 57px;
	margin-top: 25px;
}

.where-item h3{
	font-family: open-sans;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	color:  #353535;
}

.where-item p{
	font-family: open-sans;
	font-size: 17px;
	line-height: 24px;
	text-align: center;
	color:  #353535;
	margin-top: 27px;
}

.where-item button {
	font-family: open-sans;
	color:  rgba(255, 255, 255, 0.65);
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	height: 65px;
	padding: 0 95px;
	background-color: #FC5312;
	border: none;
	border-radius: 5px;
	margin-top: 34px;
	letter-spacing: 1px;
	margin-bottom: 40px;
}

.where-item button:hover {
	background-color: #430000;
}

.news h2{
	font-family: bebas-bold;
	color:  #3f3444;
	font-size: 75px;
	text-align: center;
	margin-top: 85px;
	margin-bottom: 32px;
}

.news-item img {
	width: 100%;
}

.news-item span {
	font-family: open-sans;
	color:  #353535;
	font-size: 17px;
	text-align: left;
	padding: 5px;
	border: 1px solid #CDCDCD;
	display: inline-block;
	margin-top: 25px;
}

.news-item h3 {
	font-family: open-sans;
	color:  #353535;
	font-size: 19px;
	font-weight: 700;
	text-align: left;
}

.news-item p {
	font-family: open-sans;
	color:  #353535;
	font-size: 17px;
	text-align: left;
}

.news-item a {
	font-family: open-sans;
	color:  #353535;
	font-size: 17px;
	text-align: left;
	font-weight: 700;
	border-bottom: 2px solid #4C2411;
}

.news-item a:hover {
	color: #FC9771;
	border-bottom: 2px solid #FC9771;
}

.news-archive {
	margin-top: 75px;
	margin-bottom: 83px;
}

.news-archive h2{
	text-align: center;
	font-family: bebas-reg;
	font-size: 43px;
	line-height: 47px;
	text-transform: uppercase;
}

.news-archive a {
	color:  #411501;
	border-bottom: 3px solid #411501;
}

.news-archive a:hover {
	color: #FC9771;
	border-bottom: 3px solid #FC9771;
}

.bron-back {
	overflow: hidden;
	position: relative;
}

.bron-back img {
	position: absolute;
	width: 100%;
}

.bron {
	text-align: center;
	background-color: rgba(0,0,0, 0.7);
}

.bron h2 {
	font-family: bebas-bold;
	color:  rgba(255, 255, 255, 0.7);
	font-size: 69px;
	margin-top: 90px;
	margin-bottom: 0;
}

.bron h3 {
	font-family: open-sans;
	color:  rgba(255, 255, 255, 0.7);
	font-size: 18px;
	margin-top: 0;
	padding: 0 135px;
	margin-bottom: 31px;
}

.hide-button {
	width: 47px;
	height: 47px;
	border-radius: 50%;
	border: 3px solid #FC5312;
	margin: auto;
	margin-bottom: 25px;
}

.hide-button {
	line-height: 3;
	font-size: 15px;
	color: #FC5312;
}

.bron input {
	width: 458px;
	height: 56px;
	margin-bottom: 16px;
	padding-left: 25px;
	font-family: open-sans;
	color:  #353535;
	font-size: 17px;
	border: none;
	border-radius: 5px;
}

.bron button {
	border-radius: 5px;
	border: none;
	background-color:  #ff5419;
	height: 69px;
	font-family: open-sans;
	color:  rgba(255, 255, 255, 0.7);
	font-size: 17px;
	padding: 0 150px;
	margin-bottom: 111px;
}

.bron button:hover {	
	filter: grayscale(50%);
}

.adress {
	margin-top: 20px;
	margin-bottom: 40px;
}

.contacts h2, .howride h2 {
	font-family: bebas-reg;
	color:  #411501;
	font-size: 61px;
	text-align: left;
	text-transform: uppercase;
}

.contacts a {
	font-family: open-sans;
	color:  #353535;
	font-size: 20px;
	font-weight: 600;
	line-height: 52px;
	text-align: left;
}

.contacts img {
	width: 28px;
	margin-top: -10px;
	margin-right: 5px;
}

.contacts p {
	margin-top: 25px;
}

.howride p {
	font-family: open-sans;
	color:  #353535;
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	margin-top: 37px;
	padding-left: 10px;
	border-left: 3px solid #ff5419;
}

.map {
	height: 380px;
}

.map iframe {
	width: 100%;
	height: 100%;
}


.footer-back {
	background-color: #570000;
}

.footer-back > .container > div {
	margin-top: 35px;
}

.logo-footer img{
	width: 100%;
}

.logo-footer a {
	display: inline-block;
}

.number-footer {
	font-family: open-sans;
	font-size: 20.5px;
	font-weight: 700;
	text-align: right;
}

.number-footer a {
	color:  white;
	line-height: 65px;
}

.button-footer button {
	font-family: open-sans;
	border-radius: 5px;
	border:2px solid #ff5419;
	background-color:  rgba(89, 91, 103, 0);
	height: 60px;
	color:  rgba(255, 255, 255, 0.7);
	text-transform: uppercase;
	padding: 0 39px;
}

.button-footer button:hover {
	color:  rgba(255, 255, 255, 1);
	background-color: #ff5419;
}

.soc {
	padding: 0;
	float: right;
	text-align: center;
}

.soc li {
	text-decoration: none;
	display: inline-block;
	width: 35px;
	height: 35px;
	border: 2px solid white;
	border-radius: 50%;
	margin: 0 5px;
}

.soc li a {
	display: inline-block;
}

.soc li:hover  {
	border: 2px solid #ff5419;
}

.soc li:hover > a > .fa {
	color: #ff5419;
}

.fa {
	font-size: 20px!important;
	color: white;
	line-height: 30px!important;
}

.span-bord > .glyphicon {
	color: white;
	font-size: 15px;
	line-height: 25px;
	opacity: 0.7;
}

.span-bord {
	width: 30px;
	height: 30px;
	border: 2px solid white;
	border-radius: 50%;
	text-align: center;
	opacity: 0.7;
}

.rules-footer p {
	font-family: open-sans;
	color:  rgba(255, 255, 255, 0.65);
	font-size: 9px;
	text-align: left;
}

.it-footer {
	text-align: right;
}

.it-footer p {
	font-family: open-sans;
	color:  rgba(255, 255, 255, 0.65);
	font-size: 10px;
	padding-right: 10px;
}

.it-footer img {
	width: 150px;
	float: right;
}

.it-footer a {
	display: inline-block;
}

.search-footer {
	position: relative;
}

.search-footer input{
	position: absolute;
	left: 60px;
	top: 0px;
	font-family: open-sans;
	padding: 3px;
}

.modal-dialog {
	width: 1000px!important;
	position: absolute!important;
	left: 0!important;
	right: 0!important;
	margin: 30px auto!important;
}

.modal-content {
	height: 445px!important;
	width: 1000px!important;
	border-radius: 0!important;
}

.info {
	margin-top: 50px;
	margin-bottom: 50px;
}

.how {
	border-right: 1px solid black;
}

.how p {
	font-family: open-sans;
	color:  #353535;
	font-size: 17px;
	font-weight: 400;
	line-height: 56px;
	text-align: right;
}

.much p {
	font-family: open-sans;
	color:  #353535;
	font-size: 17px;
	font-weight: 700;
	line-height: 56px;
	text-align: center;
}

.what img {
	height: 20px;
	width: auto;
	margin-right: 10px;
	position: relative;
}

.what {
	font-family: open-sans;
	color:  #353535;
	font-size: 17px;
	font-weight: 400;
	line-height: 56px;
	text-align: left;
}

.button_back {
	position: relative;
	text-align: center;
}

.button_back button {
	width: 501px;
	height: 81px;
	font-family: bebas-bold;
	color:  #411501;
	font-size: 51px;
	font-weight: 400;
	line-height: 47px;
	text-align: left;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.54);
	text-align: center;
	margin-bottom: 50px;
	background: -webkit-linear-gradient(90deg, #ff7c00 0%, #ff9735 100%);
	background: -moz-linear-gradient(90deg, #ff7c00 0%, #ff9735 100%);
	background: -o-linear-gradient(90deg, #ff7c00 0%, #ff9735 100%);
	background: -ms-linear-gradient(90deg, #ff7c00 0%, #ff9735 100%);
	background: linear-gradient(0deg, #ff7c00 0%, #ff9735 100%);
}

.button_back img{
	position: absolute;
	width: 100%;
	height: 8px;
	top: 50%;
	margin-top: -4px;
}

.close {
	font-size: 50px!important;
}

.shooga {
	display: none;
	position: absolute;
	width: 100%;

}




@font-face { 
font-family: 'bebas-bold'; 
src: url("/fonts/bebasneuebold.eot"); 
src: url("/fonts/bebasneuebold.eot?#iefix")format("embedded-opentype"), 
url("/fonts/bebasneuebold.woff") format("woff"), 
url("/fonts/bebasneuebold.woff") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

@font-face { 
font-family: 'bebas-reg'; 
src: url("/fonts/bebasneue-regular.eot"); 
src: url("/fonts/bebasneue-regular.eot?#iefix")format("embedded-opentype"), 
url("/fonts/bebasneue-regular.woff") format("woff"), 
url("/fonts/bebasneue-regular.woff") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

@font-face { 
font-family: 'open-sans'; 
src: url("/fonts/opensans.eot"); 
src: url("/fonts/opensans.eot?#iefix")format("embedded-opentype"), 
url("/fonts/opensans.woff") format("woff"), 
url("/fonts/opensans.woff") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}
